/* add a black border around the container */
.quick-sends {
    border: 5px solid black;
    padding: 10px;
    text-align: center;
    /* center align the container content */
}

.quick-sends__title {
    margin-top: 0;
    font-weight: bold;
    margin-bottom: 1px;
    text-align: center;
    /* add some bottom margin to create spacing between title and buttons */
}

.quick-sends__button {
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    /* add margin around each button */
}

.alerts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 31px;
    padding: 10px;
    overflow: auto;
    /* something other than visible */
    resize: both;
    border: 1px solid var(--gux-charcoal-grey);
}

.quick-sends-shadow {
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); /* You can use any shadow style provided in the Genesys web components documentation */
  }
  