/* add a black border around the container */
.quick-sends {
    border: 5px solid black;
    padding: 10px;
    text-align: center;
    /* center align the container content */
}

.quick-sends__title {
    margin-top: 0;
    font-weight: bold;
    margin-bottom: 1px;
    text-align: center;
    /* add some bottom margin to create spacing between title and buttons */
}

.quick-sends__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    margin: 5px;
  }
  

.alerts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 31px;
    padding: 10px;
    overflow: auto;
    /* something other than visible */
    resize: both;
    border: 1px solid var(--gux-charcoal-grey);
}

.quick-sends-shadow {
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); /* You can use any shadow style provided in the Genesys web components documentation */
  }
  
  .quick-sends__filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .button-container {
    display: flex;
    justify-content: center;
  }
  
  .gux-table-beta {
    width: 100%;
    table-layout: fixed;
  }
.beta {
	align-self: stretch;
}
  
  .gux-table-beta th,
  .gux-table-beta td {
    padding: 5px 10px;
  }
  
  .wrap-up-notes {
	max-width: 300px;
	word-wrap: break-word;
	white-space: pre-wrap;
  }

/* Custom CSS   */
body.light {
  background-color: #F1F3FA;
}
body.dark {
  background-color: rgb(84 84 84);
}
.light .portlet {
  padding: 12px 20px 15px 20px;
  background-color: #fff;
}
.dark .portlet {
  padding: 12px 20px 15px 20px;
  background: rgb(42 42 42);
  color: #d9d9d9 !important;
}
.portlet  .portlet-title {
  padding: 0;
  font-size: 20px;
  min-height: 30px;
}
.light .portlet > .portlet-title {
  border-bottom: 1px solid #eee;
  color: #578ebe;
}
.portlet-body {
  padding-top: 8px;
}
.portlet-body ul {
  padding: 0px;
}
.portlet-body ul li {
  list-style: none;
  font-size: 15px;
  padding-bottom: 5px;
}
.portlet-body ul li strong {
  margin-right: 10px;
}
.light .portlet > .portlet-body {
  color: #93a2a9;
}
.right-arrow {
  font-size: 20px;
  font-weight: bold;
  margin-right: 5px;
}
#conversations-table th {
  border-width: 0 0 1px 0 !important;
}
body {
  margin:15px;
}
.extra-details {
  display: flex;
  gap: 20px;
}
.extra-details > div {
  flex-grow: 1;
  text-align: center;
}
.light .extra-details h3 {
  margin-top: 0px;
  color:#93a2a9;
}
.dark .extra-details h3 {
  color:#d9d9d9;
}
  
